name: First Action
on: workflow_dispatch
jobs:
  first-job:
    runs-on: ubuntu-latest
    steps:
      - name: Print something
        run: echo 'Hello World'
      - name: Print something 2
        run: echo 'Hello World 2'
    
